<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        {% for p in level_list %}
            <li>
                <h2> {{ program_title }} Level {{ p.level }}</h2>

                    <h3>Prerequisites</h3>
                    <p>{{ p.prerequisite }}</p>
                    <hr />
                    <h3>Description</h3>
                    <p>{{ p.description }}</p>
                    <hr />
                    <h3><a>Current Sessions</a></h3>
                    <hr />
            </li>

        {% endfor %}
    </ul>
</body>
</html>