<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if iteration_info_list %}
        <ul>
            {% for i in iteration_info_list %}
                <li><h2> {{ i.2 }} Level {{ i.1 }} </h2>
                    <h3>Dates:</h3>
                    <p>{{ i.0.start_date }} - {{ i.0.end_date }}</p>
                    <hr />
                    <h3>Times:</h3>
                    <p>{{ i.0.start_time }} - {{ i.0.end_time }}</p>
                    <hr />
                    <h3>JK:</h3>
                    <p>{{ i.0.jk }}</p>
                    <hr />
                    <h3>Facilitator:</h3>
                    <p>{{ i.0.facilitator }}</p>
                    <hr />
                </li>

            {% endfor %}
        </ul>
    {% else %}
        <p>There are no sessions currently scheduled for {{ region }}</p>
    {% endif %}
</body>
</html>